.tool-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool-block {
    background: var(--bg-graient);
    border-radius: 20px;
    padding: 50px;
    width: 30%;
    min-width: 340px;
    margin: 1%;
    position: relative;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool-block h3 {
    font-weight: 600;
    font-size: 2.2em;
    line-height: 1;
    color: var(--white-1);
    margin: 0;
}

.tool-block p {
    color: var(--white-1);
    margin-bottom: 50px;
}

.tool-block a {
    position: absolute;
    bottom: 27px;
    right: 27px;
}

@media screen and (max-width: 768px) {
    .tool-block {
        width: 100%;
        min-width: 100%;
    }
}